* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: blue;

}

h1 {
    color: rgb(11, 250, 130);
    background-color: blueviolet;
    text-align: center;
    height: 50px;
}

.container {
    width: 90%;
    max-width: 500px;
    background-color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    margin: 200px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container input {
    width: 100%;
    padding: 10px 0;
    border: 0;
    outline: 0;
    font-size: 24px;
    color: #555;
}

.container img {
    width: 35px;
    cursor: pointer;
}